name: Pytest

on:
  push:
    branches:
      - main
    paths:
      - "**/*.py"
  pull_request:
    paths:
      - "**/*.py"

jobs:
  test:
    name: Run tests with pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: python3 -m pip install --upgrade pip
      - run: pip install pytest pytest-cov
      - run: python3 -m pytest --cov=magicli --cov-report=term-missing
