name: Pytest

on:
  push:
    branches:
      - main
    paths:
      - "**/*.py"
  pull_request:
    paths:
      - "**/*.py"

jobs:
  test:
    name: Run tests with pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          cache-dependency-glob: ""
          python-version: ${{ matrix.python-version }}
      - run: uv run --with pytest --with pytest-cov python3 -m pytest --cov=magicli --cov-report=term-missing