name: Pytest

on:
  pull_request:
    paths:
      - "**/*.py"

jobs:
  test:
    name: Run tests with pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - run: python3 -m pip install --upgrade pip
      - run: pip install pytest
      - run: pip install pytest-cov
      - run: python3 -m pytest --cov=magicli --cov-report=term-missing
